# ex02-Query Table Information

This notebook will show how to query the number of tables and a table'columns given a database using the powerful **SELECT**.

In [1]:
%load_ext sql

### Connet to the given database of demo.db3

In [2]:
%sql sqlite:///data/demo.db3

u'Connected: @data/demo.db3'

### List  tables in a database

Table and index names can be list by doing a **SELECT** on a special table named "***SQLITE_MASTER***". Every SQLite database has an SQLITE_MASTER table that defines the schema for the database. For tables, the ***type*** field will always be '***table***' and the name field will be the name of the table. So to get a list of all tables in the database, use the following SELECT command:

See more at https://www.sqlite.org/faq.html#q7.

In [3]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///data/demo.db3
Done.

[(u'rch',),
 (u'hru',),
 (u'sub',),
 (u'sed',),
 (u'watershed_daily',),
 (u'watershed_monthly',),
 (u'watershed_yearly',),
 (u'channel_dimension',),
 (u'hru_info',),
 (u'sub_info',),
 (u'rch_info',),
 (u'ave_plant',),
 (u'ave_annual_hru',),
 (u'ave_monthly_basin',),
 (u'ave_annual_basin',)]

### List columns in a table

We take the table of rch as an example

In [4]:
%sql select * from rch where 1=0

 * sqlite:///data/demo.db3
Done.

[]

#### :) We get the table information just using SELECT * with key work of LIMIT

You can try to change the limit number to 1, 2 to check the results.

In [5]:
%sql select * from rch LIMIT 0

 * sqlite:///data/demo.db3
Done.

[]

#### Or directly use selet *

***Warning***! This table contains too many records. It'd better not query all of them.

In [ ]:
%sql select * from rch